.green-background {
        background-color: #C8DF61;
}
.yellow-background {
        background-color: #F0FF00;
}
.red-background {
        background-color: #EA8D99;
}
#show-listofwellnessactivities {
  display: none;
}

.wellnessupdate {
  cursor: pointer;
  color: #0088cc;
}

.wellnessupdate:hover {
  text-decoration: underline;
}

#activitiesshowing{
  display: none;
  font-family:cursive;
}

#activitieshidden{
  font-family:cursive;
  text-align:center;
}

.clickable{
cursor: pointer;
color: #0088cc;
font-weight: bold;
}

.clickable:hover{
  text-decoration: underline;
}
h1{
  text-align:center;
  color:#613752;
}
h2{
  background-color: #D18CB8;
  font-style:italic;
  text-align:center;
  color:#613752;
}
h4{
  background-color: #D18CB8;
  font-style:italic;
  text-align:center;
  color:#613752;
}

.pickMeUp{
  color:#613752;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagepluscolourpluspickmeup{
  background-color: #D18CB8;
}
body{
  color: #613752;
  font-weight:bold
}

h3 {
  text-align:center;
  font-family: cursive;
  font-weight: bold;
}
.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  text-align: center;
}

form{
  border: 2px solid #D18CB8;
  padding: 6px;
}

.wellnessdetailsboxmodel{
  border: 2px solid #D18CB8;
  padding: 6px;
}

.wellnessactivitiesboxmodel{
  border: 2px solid #D18CB8;
  padding: 6px;
}
.happinessQuote{
  background-color: yellow;
  width: 1280px;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: maroon;
  font-family:cursive;
  font-size: 400px;
  text-align:center;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }
}

.happinessQuote {
  background-repeat: no-repeat;
}
